<div id="tee-selection-container" *ngIf="teeOptions.length !== 0">
    <div id="tee-selection">
        <mat-form-field>
            <mat-select placeholder="Tee Selection" (selectionChange)="onSelectChange()" #select>
                <mat-option *ngFor="let option of teeOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button [disabled]="valueNotSelected" (click)="goToScorecard(select.value)">Generate Golf Scorecard</button>
    </div>
</div>