<mat-toolbar color="primary" >
    <mat-toolbar-row id="nav-bar-row">
        <div>AgGolfApp</div>
        <div id="right">
            <button mat-raised-button routerLink="/">Home</button>
            <button mat-raised-button routerLink="/course-selection">Course Selection</button>
            <button mat-raised-button routerLink="/amount-of-users">Select Amount Of Players</button>
            <button mat-raised-button routerLink="/current-game">Current Game</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>