<div id="flex">
    <mat-card *ngFor="let course of courses" id="mat-card">
        <mat-card-content id="mat-card-content">
            <mat-card-title>{{ course.name }}</mat-card-title>
            <div>
                <img [src]="course.image" width="200" />
            </div>
            <div>
                <button mat-raised-button (click)="selectCourse(course.id)">
                    Select
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div id="flex-spinner" *ngIf="!courses">
    <mat-spinner></mat-spinner>
</div>

<div id="load-game-container" *ngIf="courses && savedGame">
  <div id="or">OR</div>
  <button mat-raised-button id="load-game" (click)="goToCurrentCourse()">Load Game</button>
</div>